<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page not found</title>
    <link rel="shortcut icon" href="../static/icons/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="../static/css/error.css">
</head>
<body>
    <div class="container">
        <h1 class="logo">
            <a href="/" class="logo_link">POGODKIN</a>
        </h1>
        <div class="error_info">
            Страница не найдена
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/search.js') }}"></script>
</body>
</html>