<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>POGODKIN</title>
    <link rel="shortcut icon" href="../static/icons/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="../static/css/index.css">
</head>
<body>
    <div class="container">
        <h1 class="logo">
            <a href="/" class="logo_link">POGODKIN</a>
        </h1>
        <form class="form" id="searchForm">
            <div class="form-content">
                <label class="label_form" for="city_input">Город </label>
                <input class="city_input" type="text" id="city_input" name="city_name" placeholder="например: Самара" autocomplete="off">
                <button class="search_button" type="submit">
                    <img class="search_button_img" src="/static/icons/search.png" alt="search_button">
                </button>
            </div>
        </form>
    </div>

    <script src="{{ url_for('static', filename='js/search.js') }}"></script>
</body>
</html>